body{
	background: #F2F2F2;
	font-family: 'Montserrat', sans-serif; }
header, main, nav, section, footer{
	width: 95%;
	max-width: 1020px;
	margin: 0 auto;
	margin-top: 25px;}
header{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	background: rgba(255, 255, 255, 1);
	box-shadow: 0px 2.5px 5px 2px rgba(0, 0, 0, .2);}
.proflie-class{
	width: 99%;
	max-width: 250px;}
.proflie-class img{
	width: 100%;
	border-radius: 12px;
	cursor: pointer;}
.profile-open{
	margin-left: -250px;
	position: absolute ;
	width: 100%;
	max-width: 250px;
	visibility: hidden;
	opacity: 0;}
.profile-open.open{
	visibility: visible;
	opacity: 1;}
header>div:nth-child(2){
	width: 99%;
	max-width: 750px;
	display: flex;
	flex-flow: column wrap;}
.grandchild-header-1{
	margin-top: 10px;
	align-items: center;
	width: 98%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;}
.grandchild-header-1 > div:nth-child(1){
	display: flex;
	flex-flow: column wrap;
	gap: 12px;
	margin-top: -10px;}
.grandchild-header-1 > div > h1{
	cursor: pointer;
	color: rgba(79, 79, 79, 1);
	font-size: 21px;}
.grandchild-header-1 > div > h2{
	font-size: 15px;
	color: rgba(130, 130, 130, 1);
	font-weight: 300;
	width: 100%;}
.grandchild-header-1 > div:nth-child(2){
	display: flex;
	flex-flow: column wrap;}
.grand-header2{
	display: flex;
	align-items: center;}
.grand-header2 p{
	font-size: 15px;}
.mail-class{
	width: 100%;
	max-width: 25px;}
.mail-class img{
	width: 100%;
	cursor: pointer;}
.mail-open{
	margin-left: -25px;
	position: absolute;
	width: 100%;
	max-width: 25px;
	visibility:hidden;
	opacity: 0;
	transition: .25s;}
.mail-class.open{
	visibility: hidden;
	opacity: 0;}
.mail-close.open{
	visibility: hidden;}
.mail-open.open{
	visibility: visible;
	opacity: 1;
	transform: scale(1.07);}
.phone-open{
	margin-left: -25px;
	position: absolute;
	width: 100%;
	max-width: 25px;
	visibility:hidden;
	opacity: 0;
	transition: .25s;}
.phone-open.open{
	visibility: visible;
	opacity: 1;
	transform: scale(1.07);}
.phone-class{
	width: 100%;
	max-width: 25px;}
.phone-class img{
	width: 100%;
	cursor: pointer;}
.grandchild-header-2{
	margin-top: 20px;
	width: 90%;
	font-size: 15px;
	color: rgba(130, 130, 130, 1);}
main{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;}
.child-main-1{
	margin:0 auto;
	width: 98%;
	max-width: 452.4px;}
.child-main-2{
	margin: 0 auto;
	width: 98%;
	max-width: 552.4px;
	margin-left: 12.5px;}
.grand-child-1{
	background: rgba(255, 255, 255, 1);
	box-shadow: 0px 2.5px 5px 2px rgba(0, 0, 0, .2);
	padding: 10px ;}
.grand-child-1 h2{
	color: rgba(79, 79, 79, 1);
	font-size: 15px;
	margin: 0 auto;
	display: flex;
	width: 97%;
	flex-flow: row wrap;
	margin-top: 10px;
	align-items: center;}
.grand-child-1 h3{
	cursor: pointer;
	font-weight: 400;
	color: rgba(79, 79, 79, 1);
	font-size: 15px;}
.progress{
	margin: 0 auto;
	display: flex;
	width: 97%;
	flex-flow: row wrap;
	margin-top: 10px;
	align-items: center;}
.progress-container{
	background: rgba(196, 196, 196, 1);
	border-radius: 12px;
	width: 100%;
	max-width: 250px;
	position: absolute;
	height: 12.5px;
	display: flex;
	margin-left: 170px;
	cursor: pointer;
	flex-flow: row wrap;}
.progress-container-2{
	background: rgba(196, 196, 196, 1);
	border-radius: 12px;
	width: 100%;
	max-width: 250px;
	position: absolute;
	height: 12.5px;
	display: flex;
	margin-left: 170px;
	cursor: pointer;
	flex-flow: row wrap;}
.progress-container-3{
	background: rgba(196, 196, 196, 1);
	border-radius: 12px;
	width: 100%;
	max-width: 250px;
	position: absolute;
	height: 12.5px;
	display: flex;
	margin-left: 170px;
	cursor: pointer;
	flex-flow: row wrap;}
.progress-container-4{
	background: rgba(196, 196, 196, 1);
	border-radius: 12px;
	width: 100%;
	max-width: 250px;
	position: absolute;
	height: 12.5px;
	display: flex;
	margin-left: 170px;
	cursor: pointer;
	flex-flow: row wrap;}
.progress-container-5{
	background: rgba(196, 196, 196, 1);
	border-radius: 12px;
	width: 100%;
	max-width: 250px;
	position: absolute;
	height: 12.5px;
	display: flex;
	margin-left: 170px;
	cursor: pointer;
	flex-flow: row wrap;}
.progress-container-6{
	background: rgba(196, 196, 196, 1);
	border-radius: 12px;
	width: 100%;
	max-width: 250px;
	position: absolute;
	height: 12.5px;
	display: flex;
	margin-left: 170px;
	cursor: pointer;
	flex-flow: row wrap;}
.progress-bar{
	background: rgba(47, 128, 237, 1);
	border-radius: 12px;
	width: 100%;
	max-width: 164px;
	position: absolute;
	height: 12.5px;
	display: flex;
	margin-left: 0px;}
.progress-bar-2{
	background: rgba(47, 128, 237, 1);
	border-radius: 12px;
	width: 100%;
	max-width: 210px;
	position: absolute;
	height: 12.5px;
	display: flex;}
.progress-bar-3{
	background: rgba(47, 128, 237, 1);
	border-radius: 12px;
	width: 100%;
	max-width: 231px;
	position: absolute;
	height: 12.5px;
	display: flex;}
.progess-number{
	width: 100%;
	max-width: 250px;
	height: 12.5px;
	position: absolute;
	display: flex;
	text-align: center;
	place-content: center;
	align-items: center;
	visibility: hidden;
	opacity: 0;
	transform: translate3d(-267px, -1.5px, 0px);
	transition: .3s;}
.progess-number.open{
	transform: translateY(-13px);
	visibility: visible;
	opacity: 1;
	transition: .3s;}
.progess-number-2{
	width: 100%;
	max-width: 250px;
	height: 12.5px;
	position: absolute;
	display: flex;
	text-align: center;
	place-content: center;
	align-items: center;
	visibility: hidden;
	opacity: 0;
	transform: translate3d(-267px, -1.5px, 0px);
	transition: .3s;}
.progess-number-2.open{
	transform: translateY(-13px);
	visibility: visible;
	opacity: 1;
	transition: .3s;}
.progess-number-3{
	width: 100%;
	max-width: 250px;
	height: 12.5px;
	position: absolute;
	display: flex;
	text-align: center;
	place-content: center;
	align-items: center;
	visibility: hidden;
	opacity: 0;
	transform: translate3d(-267px, -1.5px, 0px);
	transition: .3s;}
.progess-number-3.open{
	transform: translateY(-13px);
	visibility: visible;
	opacity: 1;
	transition: .3s;}
.progess-number-4{
	width: 100%;
	max-width: 250px;
	height: 12.5px;
	position: absolute;
	display: flex;
	text-align: center;
	place-content: center;
	align-items: center;
	visibility: hidden;
	opacity: 0;
	transform: translate3d(-267px, -1.5px, 0px);
	transition: .3s;}
.progess-number-4.open{
	transform: translateY(-13px);
	visibility: visible;
	opacity: 1;
	transition: .3s;}
.progess-number-5{
	width: 100%;
	max-width: 250px;
	height: 12.5px;
	position: absolute;
	display: flex;
	text-align: center;
	place-content: center;
	align-items: center;
	visibility: hidden;
	opacity: 0;
	transform: translate3d(-267px, -1.5px, 0px);
	transition: .3s;}
.progess-number-5.open{
	transform: translateY(-13px);
	visibility: visible;
	opacity: 1;
	transition: .3s;}
.progess-number-6{
	width: 100%;
	max-width: 250px;
	height: 12.5px;
	position: absolute;
	display: flex;
	text-align: center;
	place-content: center;
	align-items: center;
	visibility: hidden;
	opacity: 0;
	transform: translate3d(-267px, -1.5px, 0px);
	transition: .3s;}
.progess-number-6.open{
	transform: translateY(-13px);
	visibility: visible;
	opacity: 1;
	transition: .3s;}
.grand-child-2{
	margin-top: 15px;
	display: flex;
	flex-flow: column wrap;
	background: rgba(255, 255, 255, 1);
	box-shadow: 0px 2.5px 5px 2px rgba(0, 0, 0, .2);
	padding: 20px 10px;
	gap: 25px;}
.grand-child-2 div, h2, h3{
	width: 97%;
	max-width: 480px;
	margin: 0 auto;}
.grand-child-2 span{
	font-size: 22px;
	color: rgba(79, 79, 79, 1);}
.grand-child-2 h2{}
.grand-child-2 h3{
	color: rgba(130, 130, 130, 1);
	font-size: 14px;
	margin-top: -7.5px;}
.grand-child-2 div img{
	width: 100%;
	border-radius: 12px;
	margin-top: 10px;}
.grand-child-3{
	margin-bottom: 15px;
	display: flex;
	flex-flow: row wrap;
	background: rgba(255, 255, 255, 1);
	box-shadow: 0px 2.5px 5px 2px rgba(0, 0, 0, .2);
	padding: 20px  10px;
	gap: 25px;}
.grand-child-3 h3{
	width: 100%;
	font-size: 14px;
	color: rgba(224, 224, 224, 1);}
.grand-child-3 >div:nth-child(2){
	width: 96%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;}
.grand-child-3-p{
	color: rgba(130, 130, 130, 1);
	font-size: 15px;}
.text-space-image{
	width: 100%;
	max-width: 150px;
	color:rgba(51, 51, 51, 1) ;
	font-size: 21px;}
.image-space-text{
	margin-right: -31px;
	width: 100%;
	max-width: 360px;}
.image-space-text img{
	width: 100%;
	border-start-start-radius: 12px;
	border-end-start-radius: 12px;}
.grand-child-4{
	display: flex;
	flex-flow: column wrap;
	background: rgba(255, 255, 255, 1);
	box-shadow: 0px 2.5px 5px 2px rgba(0, 0, 0, .2);
	padding: 20px 0px;
	width: 100%;
	margin: 0 auto;}
.grand-child-4 h2{
	width: 100%;
	margin-bottom: 30px;
	margin-left: 26px;
	color: rgba(79, 79, 79, 1);}
.text{
	width: 400px;
	display: flex;
	flex-flow: column wrap;
	max-width: 290px;
	margin-bottom: 15px;
}
.text h3{
	margin: 0;}
.text h4, p{
	color: rgba(130, 130, 130, 1);}
.text h4{
	font-size: 14px;}
.text h3, p{
	font-size: 15px;}
.grand-child-4-nth-1 div img{
	width: 100%;
	max-width: 100px;}
.grand-child-4-nth-1{
	margin: 0 auto;
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	gap: 50px;
}
.grand-child-4-nth-2{
	margin: 0 auto;
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	gap: 50px;
}
.grand-child-4-nth-2 div:nth-child(1){
	width: 100%;
	width: 100px;}
.grand-child-4-nth-2 div img{
	width: 100%;}
.grand-child-4-nth-1{
	margin: 0 auto;
	width: 90%;
	display: flex;
	flex-flow: row wrap;
	gap: 50px;
	margin-bottom: 50px;}
.grand-child-4-nth-2{
	margin: 0 auto;
	width: 90%;
	display: flex;
	flex-flow: row wrap;
	gap: 50px;
	margin-bottom: 5.5px;}
nav{
	background: rgba(255, 255, 255, 1);
	box-shadow: 0px 2.5px 5px 2px rgba(0, 0, 0, .2);
	padding: 30px 0px;}
nav div h2{
	margin-left: 35px;
	width: 40%;
	display: flex;
	flex-flow: row wrap;
	font-size: 18px;
	color: rgba(79, 79, 79, 1);}
nav div:nth-child(2){
	width: 84%;
	display: flex;
	margin-left: 35px;
	margin-top: 15px;
	gap: 25px;
	flex-flow: row wrap;}
nav a, button{
	all: unset;
	cursor: pointer;}
nav button{
	border-radius: 12px;
	border: 1px solid rgba(79, 79, 79, 1);
	padding: 5px 7.5px;
	color: rgba(79, 79, 79, 1);
	font-size: 14px;
	transition: .2s;}
nav button:hover{
	background: rgba(47, 128, 237, 1);
	border-color: rgba(47, 128, 237, 1);
	color: #f9f9f9;
	transition: .2s;}
section{
	display: flex;
	flex-flow: row wrap;
	gap: 15px;
	justify-content: space-between;}
.section-1{
	width: 100%;
	max-width: 330px;
	background: rgba(255, 255, 255, 1);
	box-shadow: 0px 2.5px 5px 2px rgba(0, 0, 0, .2);
	padding: 20px 0;
	display: flex;
	flex-flow: column wrap;
	place-content: center;}
.section-1>div:nth-child(1){
	width: 100%;
	max-width: 300px;}
.section-1 img{
	width: 100%;
	border-radius: 12px;}
.section-1>div:nth-child(2){
	width: 100%;
	max-width: 300px;
	display: flex;
	flex-flow: row wrap;
	margin: 10px 0;
	gap: 12.5px;}
.section-1 div h2{
	margin: 0;}
.section-1>div:nth-child(3){
	width: 100%;
	max-width: 300px;}
.section-1>div:nth-child(4){
	width: 100%;
	max-width: 300px;
	display: flex;
	justify-content: center;
	gap: 15px;}
.section-1 a, button{
	all: unset;
	cursor: pointer;
	font-size: 14px;
	border-radius: 12px;
	margin-top: 14px;}
.section-1 p{
	font-size: 14px;}
.code-button{
	border: 1px solid rgba(47, 128, 237, 1);
	color: rgba(47, 128, 237, 1);
	padding: 7.5px 35px;
	transition: .2s;}
.code-button:hover{
	border: 1px solid rgba(47, 128, 237, 1);
	background: rgba(47, 128, 237, 1);
	color: #f9f9f9;
	padding: 7.5px 35px;
	transition: .2s;}
.demo-botton{
	border: 1px solid rgba(47, 128, 237, 1);
	background: rgba(47, 128, 237, 1);
	color: #f9f9f9;
	padding: 7.5px 35px;
	transition: .2s;}
.demo-botton:hover{
	border: 1px solid rgba(47, 128, 237, 1);
	color: rgba(47, 128, 237, 1);
	padding: 7.5px 35px;
	background: unset;
	transition: .2s;}
footer div{
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;}
.unset, .unset:hover{
	all: unset;
	margin-left: 10px;}
footer button{
	all:  unset;
	margin-left: 10px;
	width: 30px;
	height: 30px;
	display: flex;
	flex-flow: row wrap;
	place-content: center;
	cursor: pointer;
	border: 1px solid rgba(79, 79, 79, 1);
	border-radius: 4px;
	color: rgba(79, 79, 79, 1);
	font-size: 13px;}
footer button:hover{
	color: #f9f9f9;
	background: rgba(47, 128, 237, 1);
	border-color: rgba(47, 128, 237, 1);}
@media(max-width:1066px){
	.child-main-2{
		margin: 0 auto;
	}}
@media(max-width:1053px){
	header, main , nav, section, footer{
		place-content: center;
	}
	.grandchild-header-1,.proflie-class,.grandchild-header-2{
		margin: 0 auto;
	}
	.grandchild-header-2{
		text-align: center;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.child-main-2{
		margin-top: 20px;
		width: 100%;
	}
	.child-main-1,.child-main-2, nav, section, footer {
		place-content: center;
		align-items: center;
		justify-content: center;
		width: 100%;
		max-width: 1000px;
	}
	.progress{
		place-content: center;
	}
	.grand-child-3 >div:nth-child(2){
		justify-content: center;
	}
	.image-space-text{
		margin: 0;
	}
	.grand-child-3 div:nth-child(3), .grand-child-3 div:nth-child(4){
	margin: 0 auto;
	}
	.grand-child-4-nth-1, .grand-child-4-nth-2{
	 	place-content: center;
		align-items: center;
		width: 100%;
		max-width: 1000px;
		margin: 10px 0;
	}
	nav, section, footer{
		width: 95%;
	}}
@media(max-width:1030px){
		footer div{
			width: 80%;
			margin: 0 auto;
		}
	}
@media(max-width:600px){
	.grand-child-4 h2{
		margin: 0 auto;
		width: 90%;
	}}
@media(max-width:550px){
	.progress-container,.progress-container-2,.progress-container-3,.progress-container-4,.progress-container-5,.progress-container-6{margin-left: 170px;}}
@media(max-width:530px){
	.progress-container,.progress-container-2,.progress-container-3,.progress-container-4,.progress-container-5,.progress-container-6{
		max-width: 180px;
	}
	.progress-bar{
		max-width: 118px;
	}
	.progress-bar-2{
		max-width: 151px;
	}
	.progress-bar-3{
		max-width: 166px;
	}}
@media(max-width:430px){
	.progress-container,.progress-container-2,.progress-container-3,.progress-container-4,.progress-container-5,.progress-container-6{
		margin-left: 120px;
	}}
@media(max-width:365px){
	.grandchild-header-1{
		place-content: center;
		text-align: center;
	}
	.progress-container,.progress-container-2,.progress-container-3,.progress-container-4,.progress-container-5,.progress-container-6{
		max-width: 135px;
	}
	.progress-bar{
		max-width: 88.5px;
	}
	.progress-bar-2{
		max-width: 113.25px;
	}
	.progress-bar-3{
		max-width: 124.5px;
	}}
@media(max-width:290px){
	.progress-container,.progress-container-2,.progress-container-3,.progress-container-4,.progress-container-5,.progress-container-6{
		max-width: 90px;
	}
	.progress-bar{
		max-width: 59px;
	}
	.progress-bar-2{
		max-width: 75.5px;
	}
	.progress-bar-3{
		max-width: 83px;
	}}